<template>
<v-footer class="footCine" padless>

    <v-flex> <br>
        <router-link to="/agradecimientos">
            <button class="hvr">
                <v-btn x-small color="success" dark>Agradecimientos</v-btn>
            </button>
        </router-link>

        <router-link to="/cartelera">
            <button class="hvr">
                <v-btn x-small color="success" dark>Ver todas las películas</v-btn>
            </button>
        </router-link>

    </v-flex>

</v-footer>
</template>

<script>
export default {
    data: () => ({
        links: [
            'Home',
            'About Us',
            'Team',
            'Services',
            'Blog',
            'Contact Us',
        ],
    }),
}
</script>

<style>
.footCine {
    background-color: transparent !important;
}

v-footer {
    background-color: transparent !important;
}
</style>
