<template>
<div class="hello">
    <usuario-app> </usuario-app>
    <h1>{{ msg }}</h1> <br>
    <h2>Universidad Distrital <br>Francisco José de Caldas. </h2>
    <br>
    <p>Leidy Marcela Aldana<br> <br>
        Hayder Armando Calderón <br> <br>
        Edwin Aaron García
    </p>
    <br>
    Presentado a: <br>Santiago Salazar Fajardo <br>

    Espacio académico: <br>
    Seminario de Ingeniería
    <br>
</div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data() {
        return {
            msg: 'Cine Distrito '
        }
    }
}
</script>

<style scoped>
.hello {
    color: white;
}
</style>
