<template>
<div class="menu1">
    <v-toolbar class="toolbar" dark prominent bottom src="https://i.pinimg.com/originals/7f/44/9c/7f449c801d78ec8e3b93a001b943ed15.jpg">

        <router-link to="/">
            <button class="hvr">
                <v-btn x-small color="success" dark>Cine Distrito</v-btn>
            </button>
        </router-link>
        <v-spacer></v-spacer>

        {{ new Date().getFullYear() }}
        {{fecha}}
        <v-spacer></v-spacer>

        {{texto}} {{multiplex}}
        <v-spacer></v-spacer>

        <div style="width=10%;" class="selectMultiplex">
            <v-select :options="options"></v-select>
        </div>
        <v-spacer></v-spacer>

        <v-spacer></v-spacer>
        <router-link to="/cartelera">
            <button class="hvr">
                <v-btn x-small color="success" dark>Cartelera</v-btn>
            </button>
        </router-link>
        <v-spacer></v-spacer>
        <router-link to="/snacks">
            <button class="hvr">
                <v-btn x-small color="success" dark>Snacks</v-btn>
            </button>
        </router-link>

        <v-spacer></v-spacer>
        <router-link to="/login">
            <button class="hvr">
                <v-btn x-small color="success" dark>Ingresar</v-btn>
            </button>
        </router-link>

        <v-spacer></v-spacer>
        <router-link to="/login">
            <button class="hvr">
                <v-btn x-small color="success" dark>Salir</v-btn>
            </button>
        </router-link>

    </v-toolbar>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
import axios from 'axios';
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            texto: 'Usted está en: ',
            fecha: '',
            multiplex: 'Titan',
            select: ['Vuetify', 'Programming'],
            replace: true,
            options: [],
        }
    },
    created() {
        var self = this
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = '/' + mm + '/' + dd;
        self.fecha = today;
        //console.log(today);
        this.get_cinemas();
    },
    methods: {
        /* async register() {
           try {
             await auth.register(this.email, this.password);
             this.$router.push("/")
           } catch (error) {
             console.log(error);
           }
         }, */
        get_cinemas() {
            var self=this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });

            axiosInstance
                .get("http://edaagapu1.pythonanywhere.com/api/get/multiplex/lista/")
                .then(response => {
                    console.log('>>>>>>>>>>>> holi');
                    console.log(response.data.multicines);
                    for (let cinema of response.data.multicines) {
                        console.log('CINEMA#######')
                        console.log(cinema)
                        this.options.push(cinema.nombre)
                        self.multiplex = cinema.nombre;
                    }
                    console.log(this.options)
                    //this.cinemas = response.data.multicines;
                })
                .catch(e => console.log(e));

        },
        avanzar() {
            var self = this;
            if (self.rol == 'admin') {
                self.route = '/mainAdmin'
                this.$router.push("/mainAdmin")
            }
            if (self.rol == 'empleado') {
                self.route = '/mainEmpleado'
                this.$router.push("/mainEmpleado")
            }

        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
}

h1,
.muted {
    color: #2c3e5099;
}

h1 {
    font-size: 26px;
    font-weight: 600;
}

.selectMultiplex {
    background-color: rgb(0, 138, 162);
    color: white;
    width: 10%;
}

.toolbar {
    height: 50px !important;
}
</style>
