<template>
<hooper class="slide">
    <slide>
        <img class="slidepeliculas" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTr9hCrYDVCmR157Hl6dJaWoj6Gx7DCnwrqbA&usqp=CAU" alt="Girl in a jacket" height="50%">
        
    </slide>
    ...
</hooper>
</template>

<script>
import {
    Hooper,
    Slide
} from 'hooper';
export default {
    name: 'App',
    components: {
        Hooper,
        Slide
    }
}
</script>

<style>
.slidepeliculas {
    width: 20%;
}
</style>
