<template>
<div class="usuario">
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            texto: 'Usted está en: ',
            fecha: '',
        }
    },
    created() {
        var self = this
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = '/' + mm + '/' + dd;
        self.fecha = today;
        console.log(today);
    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}
.usuario{
    background-image: url("../assets/dark-2024127.svg");
       color: white;
     height: 102%; /* You must set a specified height */
   background-size: cover;
     z-index:-5;
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position:absolute;
  transition:all .5s ease-in-out;
  top:-20px;
}
</style>
