<template>
<div class="cartel">
    <usuario-app> </usuario-app>

    <h1>{{ msg }}</h1> <br>
    <v-flex xs12 md12 offset-md0>

        <v-layout row text-center wrap align-center>

            <v-flex xs12 pl-2 class="vl"> <br>
                <slider-app></slider-app>
            </v-flex>
            <v-flex p-5 mr-5 xs5>
                <br>

            </v-flex>
        </v-layout>

        <v-flex xs10 md10 offset-md2>
            <br>
            <p>Estas son las películas que existen en CineDistrito: </p> <br>
            <strong>Nombre | Descripción | Genero</strong> <br> <br>

            {{respuesta[0].nombre}} | {{respuesta[0].descripcion}} |  <br> <br>
            {{respuesta[1].nombre}} | {{respuesta[1].descripcion}} | <br> <br>
            {{respuesta[2].nombre}} | {{respuesta[2].descripcion}} | {{respuesta[2].generos[0].nombre}} <br> <br>
            {{respuesta[3].nombre}} | {{respuesta[3].descripcion}} | {{respuesta[3].generos[0].nombre}} <br> <br>
            {{respuesta[4].nombre}} | {{respuesta[4].descripcion}} | {{respuesta[4].generos[0].nombre}} <br> <br>
            {{respuesta[5].nombre}} | {{respuesta[5].descripcion}} | {{respuesta[5].generos[0].nombre}} <br> <br>
            {{respuesta[6].nombre}} | {{respuesta[6].descripcion}} | {{respuesta[6].generos[0].nombre}} <br> <br>
            {{respuesta[7].nombre}} | {{respuesta[7].descripcion}} | {{respuesta[7].generos[0].nombre}} <br> <br>
            <br>
            <br>
            <br>

        </v-flex>

    </v-flex>

</div>
</template>

<script>
import axios from "axios";
export default {
    name: 'HelloWorld',
    data() {
        return {
            msg: 'Cartelera ',
            respuesta: '',
        }
    },
    created() {
        this.getPeliculas();
    },
    methods: {
        getPeliculas() {
            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.get('http://edaagapu1.pythonanywhere.com/api/get/peliculas/lista/').then(response => {
                // Respuesta del servidor
                console.log(response);
                self.respuesta = response.data.peliculas;
            }).catch(e => {
                console.log(e);
            });
        },
    }
}
</script>

<style scoped>
h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.cartel {
    color: white;
}
</style>
