<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>

        <v-flex xs12 md12 offset-md0 v-if="selected==0">
            <br><br>
            <p> Por favor seleccione la opción que desea para gestionar a los clientes de CineDistrito:</p> <br>
            <v-layout row text-center wrap align-center>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(1)" large color="success" dark>Listar clientes</v-btn>
                    </router-link>
                    <br><br>

                </v-flex>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(2)" large color="success" dark>Añadir cliente</v-btn>
                    </router-link>
                </v-flex>
                <br><br><br><br>
            </v-layout>

        </v-flex>

        <v-flex xs10 md10 offset-md2 v-if="selected==1">
            <br>
            <p>Estos son los clientes que existen en CineDistrito: </p> <br>

            <strong>Identificación | Nombre | Apellido | Telefono | Puntos</strong> <br> <br>

            {{respuesta[0].identificacion}} | {{respuesta[0].nombre}} | {{respuesta[0].apellido}} | {{respuesta[0].telefono}} | {{respuesta[0].puntos}}
            <br>
            <br>
        </v-flex>

        <v-flex xs12 md12 offset-md0 v-if="selected==2">
            <br>
            <p>Por favor, ingrese los datos para agregar un cliente: </p> <br>

            <form id="app" @submit="checkForm">

                <p v-if="errors.length">
                    <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

                <p>
                    <label for="cedula">Cédula: </label>
                    <input id="cedula" v-model="cedula" type="number" name="cedula" min="0">
                </p>
                <br>

                <p>
                    <label for="name">Nombre: </label>
                    <input id="name" v-model="name" type="text" name="name">
                </p>
                <br>
                <p>
                    <label for="apellido">Apellido: </label>
                    <input id="apellido" v-model="apellido" type="text" name="apellido">
                </p>
                <br>
                <p>
                    <label for="telefono">Telefono: </label>
                    <input id="telefono" v-model="telefono" type="number" name="telefono" min="0">
                </p>
                <br>

                <p> <br>
                    <!--  <input class="btn" type="submit" value="Guardar"> -->

                    <button class="hvr" @click="guardar()">
                        <v-btn x-large color="success" dark>Guardar</v-btn>
                    </button>

                </p> <br>

            </form>

        </v-flex>
        <!--    <footer-app></footer-app> -->

        <router-link to="/mainEmpleado">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link>

    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader';
import axios from "axios";

export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            errors: [],
            name: null,
            apellido: null,
            telefono: null,
            cedula: 0,
            selected: 0,
            respuesta: '',
        }
    },
    created() {
        var self = this
        //   this.pedirRta();
    },
    methods: {
        seleccion(num) {
            var self = this;
            self.selected = num;
            if (num == 1) {
                self.getEmpleado();
            }
        },
        getEmpleado() {

            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.get('http://edaagapu1.pythonanywhere.com/api/get/clientes/lista/').then(response => {
                // Respuesta del servidor
                console.log(response);
                self.respuesta = response.data.clientes;
            }).catch(e => {
                console.log(e);
            });

        },
        guardar() {

            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com​/api/post/cliente/', {
                cedula: self.cedula,
                nombre: self.name,
                apellido: self.apellido,
                telefono: self.telefono
            }).then(response => {
                // Respuesta del servidor
                console.log(response);

                if (response.data.message == "'contrasena'") {
                    alert('Cliente creado: ' + response.data.message);
                    self.avanzar();
                    // } else {
                    //  self.reportarError();
                }
            }).catch(e => {
                console.log(e);
            });

        },
        avanzar() {
            var self = this;
            self.selected = 0;

        },
        checkForm: function (e) {
            if (this.name && this.precio) {
                return true;
            }

            this.errors = [];

            if (!this.name) {
                this.errors.push('El nombre es obligatorio.');
            }

            e.preventDefault();
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen {
    color: white;
}

label {
    color: white;
}

.btn {
    background-color: white;
    margin: 10px;
    color: black;
    width: 7%;
    height: 5%;
}

input,
select,
option {
    background-color: white;
}
</style>
