<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>

        <v-flex xs10 md10 offset-md2>
            <br>
            <p>Estas son los snacks que existen en CineDistrito: </p> <br>
            <strong>No. | Nombre | Precio | Cantidad </strong> <br> <br>

            {{respuesta[0].id}} | {{respuesta[0].nombre}} | $ {{respuesta[0].precio}} |    {{respuesta[0].cantidad}}<br> <br>
            {{respuesta[1].id}} | {{respuesta[1].nombre}} | $ {{respuesta[1].precio}} |    {{respuesta[1].cantidad}}<br> <br>
            {{respuesta[2].id}} | {{respuesta[2].nombre}} | $ {{respuesta[2].precio}} |    {{respuesta[2].cantidad}}<br> <br>
            {{respuesta[3].id}} | {{respuesta[3].nombre}} | $ {{respuesta[3].precio}} |    {{respuesta[3].cantidad}}<br> <br>
            {{respuesta[4].id}} | {{respuesta[4].nombre}} | $ {{respuesta[4].precio}} |    {{respuesta[4].cantidad}}<br> <br>
            {{respuesta[5].id}} | {{respuesta[5].nombre}} | $ {{respuesta[5].precio}} |    {{respuesta[5].cantidad}}<br> <br>
            {{respuesta[6].id}} | {{respuesta[6].nombre}} | $ {{respuesta[6].precio}} |    {{respuesta[6].cantidad}}<br> <br>
            {{respuesta[7].id}} | {{respuesta[7].nombre}} | $ {{respuesta[7].precio}} |    {{respuesta[7].cantidad}}<br> <br>
            {{respuesta[8].id}} | {{respuesta[8].nombre}} | $ {{respuesta[8].precio}} |    {{respuesta[8].cantidad}}<br> <br>

            <br>
            <br>
            <br>

        </v-flex>

        <v-flex xs12 md12 offset-md0>
            <br>
            <p>Por favor, ingrese los datos para agregar un nuevo snack: </p> <br>

            <form id="app" @submit="checkForm">

                <p v-if="errors.length">
                    <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

                <p>
                    <label for="nombre">Nombre: </label>
                    <input id="nombre" v-model="nombre" type="text" nombre="nombre">
                </p>
                <br>
                <p>
                    <label for="precio">Precio: </label>
                    <input id="precio" v-model="precio" type="number" nombre="precio" min="0">
                </p>
                <br>
                <p>
                    <label for="multiplex">Multiplex: </label>
                    <input id="multiplex" v-model="multiplex" type="text" nombre="multiplex">
                </p>
                <br>
                <p>
                    <label for="cantidad">Cantidad: </label>
                    <input id="cantidad" v-model="cantidad" type="number" nombre="cantidad" min="0">
                </p>
                <br>

                <!--         <p>
                    <label for="movie">Película favorita</label>
                    <select id="movie" v-model="movie" nombre="movie">
                        <option>Star Wars</option>
                        <option>Vanilla Sky</option>
                        <option>Atomic Blonde</option>
                    </select>
                </p>   -->

                <p> <br>
                    <!--     <input class="btn" type="submit" value="Guardar"> -->

                    <button class="hvr" @click="pedirRta()">
                        <v-btn x-large color="success" dark>Guardar</v-btn>
                    </button>

                </p> <br>

            </form>

        </v-flex>
        <!--    <footer-app></footer-app> -->

        <router-link to="/mainAdmin">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link> <br> <br>

    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader';
import axios from "axios";

export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            errors: [],
            nombre: null,
            precio: null,
            movie: null,
            cantidad: null,
            multiplex: null,
            respuesta: '',
        }
    },
    created() {
        var self = this;
        this.getPeliculas();
    },
    methods: {
        avanzar() {
            var self = this;
            if (self.rol == 'admin') {
                self.route = '/gestpelic'
                this.$router.push("/gestpelic")
            }

        },
        getPeliculas() {
            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.get('http://edaagapu1.pythonanywhere.com/api/get/inventario_snacks/1').then(response => {
                // Respuesta del servidor
                console.log(response);
                self.respuesta = response.data.snacks;
            }).catch(e => {
                console.log(e);
            });
        },
        pedirRta() {

            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com​/api​/post​/snacks​/', {
                nombre: self.nombre,
                precio: self.precio,
                multiplex: self.multiplex,
                cantidad: self.cantidad
            }).then(response => {
                // Respuesta del servidor
                console.log(response);
                alert('Respuesta: ' + response.data.message);
                //   if (response.data.message == "El usuario es correcto") {
                self.avanzar();
                // } else {
                //  self.reportarError();
                //}
            }).catch(e => {
                console.log(e);
            });

        },
        avanzar() {
            var self = this;

            this.$router.push("/mainAdmin")

        },
        checkForm: function (e) {
            if (this.nombre && this.precio) {
                return true;
            }

            this.errors = [];

            if (!this.nombre) {
                this.errors.push('El nombre es obligatorio.');
            }
            if (!this.precio) {
                this.errors.push('El precio es obligatorio.');
            }

            e.preventDefault();
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen {
    color: white;
}

label,
b,
ul {
    color: white;
}

.btn {
    background-color: white;
    margin: 10px;
    color: black;
    width: 7%;
    height: 5%;
}

input {
    background-color: white;
}
</style>
