<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>
            <br>
            <p>A continuación se presentan las estadisticas de CineDistrito. </p> <br>

            <pure-vue-chart :points="[3,5,2,5,4]" :width="400" :height="200" />

            <!-- <D3BarChart :config="config" :datum="data"></D3BarChart> -->

        </v-flex>
        <footer-app></footer-app>

        <router-link to="/mainAdmin">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link>

    </v-container>

</div>
</template>

<script>
import PureVueChart from 'pure-vue-chart';
import resourcesLoader from '../js/mixins/resources-loader';

export default {
    name: 'LoremIpsumComponent',
    components: {
        PureVueChart
    },
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            errors: [],
            name: null,
            precio: null,
            movie: null,
            // data
            data: [{
                name: "Lorem",
                total: 50
            }, {
                name: "Ipsum",
                total: 21
            }, {
                name: "Dolor",
                total: 20
            }],

            // Configuration
            config: {
                key: "name",
                value: "total",
                color: "steelblue",
            }
        }
    },
    created() {
        var self = this

        /*    this.getPng('personajes/gato1', function (data) {
                self.lazarus = data
            }) */
    },
    methods: {
        avanzar() {
            var self = this;
            if (self.rol == 'admin') {
                self.route = '/gestpelic'
                this.$router.push("/gestpelic")
            }

        },
        checkForm: function (e) {
            if (this.name && this.precio) {
                return true;
            }

            this.errors = [];

            if (!this.name) {
                this.errors.push('El nombre es obligatorio.');
            }
            if (!this.precio) {
                this.errors.push('La edad es obligatoria.');
            }

            e.preventDefault();
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen {
    color: white;
}

label,
input {
    color: white;
}

.btn {
    background-color: white;
    margin: 10px;
    color: black;
    width: 7%;
    height: 5%;
}
</style>
