<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>

        <v-flex xs12 md12 offset-md0 v-if="selected==0">
            <br><br>
            <p> Por favor seleccione la opción que desea para gestionar las películas:</p> <br>
            <v-layout row text-center wrap align-center>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(1)" large color="success" dark>Listar películas</v-btn>
                    </router-link>
                    <br><br>

                </v-flex>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(2)" large color="success" dark>Añadir película</v-btn>
                    </router-link>
                </v-flex>
                <br><br><br><br>
            </v-layout>

        </v-flex>

        <v-flex xs10 md10 offset-md2 v-if="selected==1">
            <br>
            <p>Estas son las películas que existen en CineDistrito: </p> <br>
            <strong>Nombre | Descripción | Genero</strong> <br> <br>

            {{respuesta[0].nombre}} | {{respuesta[0].descripcion}} | {{respuesta[0].generos}}
            <br>
            <br>
            <br>

        </v-flex>

        <v-flex xs12 md12 offset-md0 v-if="selected==2">
            <br>
            <p>Por favor, ingrese los datos para agregar una nueva película: </p> <br>

            <form id="app" @submit="checkForm">

                <p v-if="errors.length">
                    <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

                <p>
                    <label for="name">Nombre de la película: </label>
                    <input id="name" v-model="name" type="text" name="name">
                </p>
                <br>
                <p>
                    <label for="descripcion">Descripción: </label>
                    <input id="descripcion" v-model="descripcion" type="text" name="descripcion">
                </p>
                <br>
                <p>
                    <label for="precio">Duración (horas): </label>
                    <input id="precio" v-model="precio" type="number" name="precio" min="0">
                </p>
                <br>
                <p>
                    <label for="movie">Idioma de la película:</label>
                    <select id="movie" v-model="movie" name="movie">
                        <option>Español</option>
                        <option>Inglés</option>
                        <option>Francés</option>
                    </select>
                </p>
                <br>
                <p>
                    <label for="name">Nombre de la película: </label>
                    <input id="name" v-model="name" type="text" name="name">
                </p>

                <p> <br>
                    <!--  <input class="btn" type="submit" value="Guardar"> -->

                    <button class="hvr" @click="guardar()">
                        <v-btn x-large color="success" dark>Guardar</v-btn>
                    </button>

                </p> <br>

            </form>

        </v-flex>
        <!--    <footer-app></footer-app> -->

        <router-link to="/mainAdmin">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link>

    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader';
import axios from "axios";

export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            errors: [],
            nombre: null,
            precio: null,
            movie: null,
            selected: 0,
            descripcion: null,
            respuesta: '',
        }
    },
    created() {
        var self = this
        //this.pedirRta();
    },
    methods: {
        seleccion(num) {
            var self = this;
            self.selected = num;
            if (num == 1) {
                self.getPeliculas();
            }
        },
        getPeliculas() {
            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.get('http://edaagapu1.pythonanywhere.com/api/get/peliculas/lista/').then(response => {
                // Respuesta del servidor
                console.log(response);
                self.respuesta = response.data.peliculas;
            }).catch(e => {
                console.log(e);
            });
        },

        guardar() {

            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com​/api/post/pelicula/', {
                nombre: self.nombre,
                descripcion: self.precio,
                genero: self.multiplex,
                imagen: self.cantidad
            }).then(response => {
                // Respuesta del servidor
                console.log(response);
                alert('Respuesta: ' + response.data.message);
                //   if (response.data.message == "El usuario es correcto") {
                self.avanzar();
                // } else {
                //  self.reportarError();
                //}
            }).catch(e => {
                console.log(e);
            });

        },
        checkForm: function (e) {
            if (this.name && this.precio) {
                return true;
            }

            this.errors = [];

            if (!this.name) {
                this.errors.push('El nombre es obligatorio.');
            }

            e.preventDefault();
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen {
    color: white;
}

label {
    color: white;
}

.btn {
    background-color: white;
    margin: 10px;
    color: black;
    width: 7%;
    height: 5%;
}

input,
select,
option {
    background-color: white;
}
</style>
