<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>

        <v-flex xs12 md12 offset-md0 v-if="selected==0">
            <br><br>
            <p> Por favor seleccione la opción que desea para gestionar múltiplex:</p> <br>
            <v-layout row text-center wrap align-center>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(1)" large color="success" dark>Listar Multiplex</v-btn>
                    </router-link>
                    <br><br>

                </v-flex>

                <v-flex xs6>

                    <router-link to='/null' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="seleccion(2)" large color="success" dark>Añadir Multiplex</v-btn>
                    </router-link>
                </v-flex>
                <br><br><br><br>
            </v-layout>

        </v-flex>

        <v-flex xs12 md12 offset-md0>
            <br>
            <p>Por favor, ingrese los datos para agregar un nuevo Multiplex: </p> <br>

            <form id="app" @submit="checkForm" action="https://vuejs.org/" method="post">

                <p v-if="errors.length">
                    <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>

                <p>
                    <label for="name">Nombre: </label>
                    <input id="name" v-model="name" type="text" name="name">
                </p>
                <br>
                <p>
                    <label for="name">Dirección: </label>
                    <input id="name" v-model="name" type="text" name="name">
                </p>

                <!--   <p>
                    <label for="precio">Precio: </label>
                    <input id="precio" v-model="precio" type="number" name="precio" min="0">
                </p> -->

                <!--         <p>
                    <label for="movie">Película favorita</label>
                    <select id="movie" v-model="movie" name="movie">
                        <option>Star Wars</option>
                        <option>Vanilla Sky</option>
                        <option>Atomic Blonde</option>
                    </select>
                </p>   -->

                <p> <br>
                    <router-link to="/mainAdmin">
                        <button class="hvr">
                            <v-btn x-large color="success" dark>Guardar</v-btn>
                        </button>
                    </router-link>
                </p> <br> <br>

            </form>

            <router-link to="/mainAdmin">
                <button class="hvr">
                    <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
                </button>
            </router-link>

        </v-flex>
        <!--    <footer-app></footer-app> -->
    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            errors: [],
            name: null,
            precio: null,
            movie: null,
            selected: 0,
        }
    },
    created() {
        var self = this

        /*    this.getPng('personajes/gato1', function (data) {
                self.lazarus = data
            }) */
    },
    methods: {
        avanzar() {
            var self = this;
            if (self.rol == 'admin') {
                self.route = '/gestpelic'
                this.$router.push("/gestpelic")
            }

        },
        checkForm: function (e) {
            if (this.name && this.precio) {
                return true;
            }

            this.errors = [];

            if (!this.name) {
                this.errors.push('El nombre es obligatorio.');
            }
            if (!this.precio) {
                this.errors.push('La edad es obligatoria.');
            }

            e.preventDefault();
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen {
    color: white;
}

label,
input {
    color: white;
}

.btn {
    background-color: white;
    margin: 10px;
    color: black;
    width: 7%;
    height: 5%;
}

p {
    color: white;
}

input,
select,
option {
    background-color: white;
    color: black;
}
</style>
