<template>
<div class="register">
    <empleado-app></empleado-app>
    <h2 class="title">Ingresar</h2>
    <form action class="form">
        <label class="form-label" for="#email">Usuario</label>
        <input v-model="email" class="form-input" id="email" required placeholder="Usuario">
        <label class="form-label" for="#password">Contraseña</label>
        <input v-model="password" class="form-input" type="password" id="password" placeholder="Contraseña">

        <router-link to='route' v-slot="{ href, route, navigate, isActive, isExactActive }">
            <input class="form-submit" type="submit" @click="getempleado()" value="Ingresar">
        </router-link>

    </form>

</div>
</template>

<script>
//import auth from "@/logic/auth";
import axios from "axios";
export default {
    data: () => ({
        email: "",
        password: "",
        passwordRepeat: "",
        error: false,
        //rol: 'empleado',
        rol: 'admin',
        route: '',
        respuestaAPI: [],
    }),
    created() {
        //this.getempleado();
    },
    methods: {
        getempleado() {
            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com/api/validacion_usuario/', {
                username: self.email, // '1010245669',    //          1026589435 
                password: self.password //'Admin123'    //           Pruebas123
            }).then(response => {
                // Respuesta del servidor
                console.log(response);
                if (response.data.message == "El usuario es correcto") {
                    self.rol = response.data.rol;
                    self.avanzar();
                } else {
                    self.reportarError();
                }
            }).catch(e => {
                console.log(e);
            });

        },
        avanzar() {
            var self = this;

            console.log('Entrar');

            if (self.rol == 'Administrador') {
                self.route = '/mainAdmin'
                this.$router.push("/mainAdmin")
            }
            if (self.rol == 'Empleado') {
                self.route = '/mainEmpleado'
                this.$router.push("/mainEmpleado")
            }

        },
        reportarError() {
            alert('Por favor, revise sus datos, gracias');
        }

    }
};
</script>

<style scoped>
.register {}

.title {
    text-align: center;
    color: white;
}

.form {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    min-width: 350px;
    max-width: 100%;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.form-label {
    margin-top: 2rem;
    color: white;
    margin-bottom: 0.5rem;

    &:first-of-type {
        margin-top: 0rem;
    }
}

.form-input {
    padding: 10px 15px;

    border: 1px solid white;
    color: white;

    &:focus {
        outline: 0;
        border-color: #1ab188;
    }
}

.form-submit {
    background: #1ab188;
    border: none;
    color: white;
    margin-top: 3rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background: #0b9185;
    }
}

.error {
    margin: 1rem 0 0;
    color: #ff4a96;
}
</style>
