<template>
<div class="presentation">
    <empleado-app> </empleado-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>
            <br><br>
            <v-layout row text-center wrap align-center>

                <v-flex xs6>

                    <router-link to='/crearcliente' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="gotomodule(2)" large color="success" dark>Crear cliente</v-btn>
                    </router-link>
                    <br><br>
                    <router-link to='/gestmultiplex' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="gotomodule()" large color="success" dark>Catálogo productos</v-btn>
                    </router-link>
                </v-flex>

                <v-flex xs6>

                    <router-link to='/vendercomida' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="gotomodule(1)" large color="success" dark>Vender comida</v-btn>
                    </router-link>
                    <br><br>
                    <router-link to='/vendertiquete' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="gotomodule(4)" large color="success" dark>Vender tiquete</v-btn>
                    </router-link>
                </v-flex>
                <br><br><br><br> <br>
            </v-layout>

        </v-flex>
        <footer-app></footer-app>
    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin'
        }
    },
    created() {
        var self = this

        /*    this.getPng('personajes/gato1', function (data) {
                self.lazarus = data
            }) */
    },
    methods: {
        gotomodule(num) {
            var self = this;
            if (num == 4) {
                this.$router.push("/vendertiquete")
            }
            if (num == 1) {
                this.$router.push("/vendercomida")
            }
            if (num == 2) {
                this.$router.push("/crearcliente")
            }
        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}
</style>
