<template>
<div class="presentation">
    <admin-app> </admin-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>
            <br><br>
            <v-layout row text-center wrap align-center>

                <v-flex xs6>

                    <router-link to='/gestpelic' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="avanzar()" large color="success" dark>Gestionar películas</v-btn>
                    </router-link>
                    <br><br>
                    <router-link to='/gestmultiplex' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="multi()" large color="success" dark>Gestionar multiplex</v-btn>
                    </router-link>
                </v-flex>

                <v-flex xs6>

                    <router-link to='/gestsnacks' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="gosnack()" large color="success" dark>Gestionar snacks</v-btn>
                    </router-link>
                    <br><br>
                    <router-link to='/gestestad' v-slot="{ href, route, navigate, isActive, isExactActive }">
                        <v-btn @click="estad()" large color="success" dark>Gestionar estadísticas</v-btn>
                    </router-link>
                </v-flex>
                <br><br><br><br>
            </v-layout>

        </v-flex>
        <footer-app></footer-app>
    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin'
        }
    },
    created() {
        var self = this

    },
    methods: {
        avanzar() {
            var self = this;
            console.log('gest pelic');
            if (self.rol == 'admin') {
                this.$router.push("/gestpelic")
            }

        },
        gosnack() {
            var self = this;
            console.log('gest snack');
            console.log('Snack');
            if (self.rol == 'admin') {
                this.$router.push("/gestsnacks")
            }

        },
        multi() {
            var self = this;
            console.log('gest multi');
            if (self.rol == 'admin') {
                this.$router.push("/gestmultiplex")
            }

        },
        estad() {
            var self = this;
            console.log('');
            console.log('Snack');
            if (self.rol == 'admin') {
                this.$router.push("/gestestad")
            }

        }

    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}
</style>
