<template>
<div class="presentation">
    <usuario-app> </usuario-app>

    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>

            <v-layout row text-center wrap align-center>

                <v-flex xs12 pl-2 class="vl"> <br>
                    <slider-app></slider-app>
                </v-flex>
                <v-flex p-5 mr-5 xs5>
                    <br>

                </v-flex>
            </v-layout>

        </v-flex>
        <footer-app></footer-app>
    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader'
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
        }
    },
    created() {
        var self = this
    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}
</style>
