<template>
  <v-flex xs12 fill-height class="pagina-curso">
    
 <!--   <menuPrinc-app></menuPrinc-app>  -->
  
    <!-- Dynamic routing: See https://router.vuejs.org/guide/essentials/dynamic-matching.html#reacting-to-params-changes -->
    <div :class="{ contenido: $route.params.unipage >= 0 }">
      <component :is="'intro' + $route.params.unipage + '-app'"></component>
    </div>
  </v-flex>
</template>

<script>
//import intro00 from "./intro-00.vue";
//import intro01 from "./intro-01.vue";

export default {
    components: {
       // "intro1-app": intro00,
       // "intro2-app": intro01,
        
    },
    data() {
        return {
            logo: '',
            mod: {
                modurl: "intro"
            }
        }
    },
    created() {
        var self = this
   
    },
    updated() {
    if (this.currentPage  > 11) {
      this.$router.push({
        path: `/landingpage`
      });
    } else {
      //this.$store.commit("screenTrack", [this.currentPage, 11]);
    }
  }
}
</script>

<style scoped>
h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

img {
    width: 100%;
    ;
}

</style>
