<template>
<div class="cartel">
    <usuario-app> </usuario-app>

    <h1>{{ msg }}</h1> <br>
    <v-flex xs12 md12 offset-md0>

        <v-layout row text-center wrap align-center>

            <v-flex xs12 text-center> <br>
                <p>Cantidad de productos agregados al carrito: {{contador}} </p>

            </v-flex>

            <v-flex xs4> <br>
                <img class="vl" src="@/assets/fondo-comida-cine-tiques_395-2147490880.jpg" alt="">
                <p> Combo 1 <br> Valor: $28.000</p>
                <button class="hvr">
                    <v-btn @click="carrito(0)" color="success" dark>Agregar al carrito</v-btn>
                </button>

            </v-flex>

            <v-flex xs4> <br>
                <img class="vl" src="@/assets/1048022-b21f7b5d-48f1-4421-9800-9f38f4cb76b6.jpg" alt="">
                <p> Combo 2 <br> Valor: $32.000</p>
                <button class="hvr">
                    <v-btn @click="carrito(1)" color="success" dark>Agregar al carrito</v-btn>
                </button>

            </v-flex>

            <v-flex xs4> <br>
                <img class="vl" src="@/assets/images.jpeg" alt="">
                <p> Combo 3 <br> Valor: $42.000</p>
                <button class="hvr">
                    <v-btn @click="carrito(2)" color="success" dark>Agregar al carrito</v-btn>
                </button>

            </v-flex>

            <v-flex xs12 text-center> <br>
                <p>Lista de productos agregados al carrito: </p> <br>
                <ul id="example-1">
                    <li v-for="item in lista">
                        {{ item }}
                    </li>
                </ul>
            </v-flex>

        </v-layout>

        <v-layout row text-center wrap align-center>

            <v-flex xs12 text-center> <br>
                <router-link to="/login">
                    <button class="hvr">
                        <v-btn x-large color="success" dark>Terminar compra y pagar</v-btn>
                    </button>
                </router-link>

            </v-flex>

        </v-layout>

        <footer-app></footer-app>
    </v-flex>
</div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data() {
        return {
            msg: 'Snacks ',
            lista: {

            },
            contador: 0,
        }
    },
    methods: {
        carrito(num) {
            this.contador = this.contador + 1;
            this.lista[num] = 'Combo ' + (num+1);
        }
    }
}
</script>

<style scoped>
.vl {
    width: 70%;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.cartel {
    color: white;
}
</style>
