<template>
<div class="presentation">
    <empleado-app> </empleado-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>
            <br><br>
            <v-layout row text-center wrap align-center>

                <v-flex xs12 md12 offset-md0>
                    <br>
                    <p>Por favor, ingrese los datos para vender un tiquete: </p> <br>

                    <form id="app" @submit="checkForm" action="https://vuejs.org/" method="post">

                        <p>
                            <label for="name">Nombre de la película: </label>
                            <input id="name" v-model="name" type="text" name="name">
                        </p>
                        <br>
                        <p>
                            <label for="name">Nombre del cliente: </label>
                            <input id="namecli" v-model="name" type="text" name="name">
                        </p>
                        <br>
                        <p>
                            <label for="precio">Cédula: </label>
                            <input id="precio" v-model="precio" type="number" name="precio" min="0">
                        </p>
                        <br>
                        <p>
                            <label for="movie">Multiplex:</label>
                            <select id="movie" v-model="movie" name="movie">
                                <option>Titan</option>
                                <option>Centro</option>
                                <option>Norte</option>
                            </select>
                        </p>
                        <br>
                        <p>
                            <label for="precio">Precio: </label>
                            <input id="precio" v-model="precio" type="number" name="precio" min="0">
                        </p>
                        <br>

                        <p> <br>
                            <!--  <input class="btn" type="submit" value="Guardar"> -->
                            <!--    <router-link to="/mainEmpleado">  -->
                            <button class="hvr">
                                <v-btn x-large color="success" dark>Vender</v-btn>
                            </button>
                            <!--    </router-link> -->

                        </p> <br>

                    </form>

                </v-flex>
            </v-layout>

        </v-flex>
        <footer-app></footer-app>
        <br>
        <router-link to="/mainEmpleado">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link>

    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader';
import axios from "axios";
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            name: '',
            namecli: '',
            precio: '',
        }
    },
    created() {
        var self = this

        /*    this.getPng('personajes/gato1', function (data) {
                self.lazarus = data
            }) */
    },
    methods: {
        gotomodule(num) {
            var self = this;
            if (num == 4) {
                this.$router.push("/vendertiquete")
            }
        },
        vender() {

            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com​/api​/post​/snacks​/', {
                nombre: self.nombre,
                precio: self.precio,
                multiplex: self.multiplex,
                cantidad: self.cantidad
            }).then(response => {
                // Respuesta del servidor
                console.log(response);
                alert('Respuesta: ' + response.data.message);
                //   if (response.data.message == "El usuario es correcto") {
                self.avanzar();
                // } else {
                //  self.reportarError();
                //}
            }).catch(e => {
                console.log(e);
            });

        },
    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen,
p {
    color: white;
}

input,
select,
option {
    background-color: white;
    color: black;
}
</style>
