<template>
<div class="presentation">
    <empleado-app> </empleado-app>
    <v-container justify-center align-center class="margen">
        <h1>Cine Distrito</h1>
        <v-flex xs12 md12 offset-md0>
            <br><br>
            <v-layout row text-center wrap align-center>

                <v-flex xs12 md12 offset-md0>
                    <br>
                    <p>Por favor, ingrese los datos para vender comida: </p> <br>

                    <form id="app">

                        <p>
                            <label for="cedula">Cédula: </label>
                            <input id="cedula" v-model="cedula" type="text" name="cedula">
                        </p>
                        <br>
                        <p>
                            <label for="multiplex">Multiplex: </label>
                            <input id="multiplex" v-model="multiplex" type="text" name="multiplex">
                        </p>
                        <br>
                        <p>
                            <label for="idproducto">id producto: </label>
                            <input id="idproducto" v-model="idproducto" type="number" name="idproducto" min="0">
                        </p>
                        <br>
                        <p>
                            <label for="cantidad">Cantidad: </label>
                            <input id="cantidad" v-model="cantidad" type="number" name="cantidad" min="0">
                        </p>
                        <br>

                        <p>
                            <label for="combo">Combo: </label>
                            <input id="combo" v-model="combo" type="text" name="combo">
                        </p>
                        <br>

                        <br>

                        <p> <br>
                            <!--  <input class="btn" type="submit" value="Guardar"> -->
                            <!--    <router-link to="/mainEmpleado">  -->
                            <button class="hvr" @click="vender()">
                                <v-btn x-large color="success" dark>Vender</v-btn>
                            </button>
                            <!--    </router-link> -->

                        </p> <br>

                    </form>

                </v-flex>
            </v-layout>

        </v-flex>
        <footer-app></footer-app>
        <br>
        <router-link to="/mainEmpleado">
            <button class="hvr">
                <v-btn x-small color="success" dark>Regresar al menú principal</v-btn>
            </button>
        </router-link>

    </v-container>

</div>
</template>

<script>
import resourcesLoader from '../js/mixins/resources-loader';
import axios from "axios";
export default {
    mixins: [resourcesLoader],
    data() {
        return {
            logo: '',
            rol: 'admin',
            cedula: '',
            multiplex: '',
            idproducto: '',
            cantidad: '',
            combo: '',
        }
    },
    created() {
        var self = this;
    },
    methods: {
        gotomodule(num) {
            var self = this;
            if (num == 4) {
                this.$router.push("/vendertiquete")
            }
        },
        vender() {
            console.log('Vendiendo');
            var self = this;
            const axiosInstance = axios.create({
                headers: {
                    "Access-Control-Allow-Origin": true
                }
            });
            axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

            axios.post('http://edaagapu1.pythonanywhere.com​/api​/post​/comprar_comida/', {
                cedula: self.cedula, // 1024887963,
                multiplex_id: self.multiplex, // 1,
                productos: [{
                    id: self.idproducto, // 2,
                    cantidad: self.cantidad, // 2,
                    combo: true
                }]
            }).then(response => {
                // Respuesta del servidor
                console.log(response);
                alert('Respuesta: ' + response.data.message);
                //   if (response.data.message == "El usuario es correcto") {
                self.avanzar();
                // } else {
                //  self.reportarError();
                //}
            }).catch(e => {
                console.log(e);
            });

        },
    }
}
</script>

<style scoped>
img {
    width: 100%;
    ;
}

h1 {
    color: white;
}

.margen,
p {
    color: white;
}

input,
select,
option {
    background-color: white;
    color: black;
}
</style>
