<template>
  <div id="app">
    <menu-app></menu-app>
    <br>
    <img src="./assets/logo.png">
    <router-view/>
  <!--  <footer-app></footer-app> -->
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
img{
  width: 5%;
}
</style>
